.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    padding: $form-padding-margin;
    margin: $form-padding-margin;
    
    label {
        display: flex;
        justify-content: space-around;
        padding:$form-padding-margin;
        margin:$form-padding-margin;
    }
    
    .form-input label {
        display: flex;
        justify-content: space-around;
        padding:$form-padding-margin;
        margin:$form-padding-margin;
    }
    
    .form-submit {
        display: flex;
        width: 50%;
        justify-content: center;
        border: none;
        background: #fff;
        color: #000;
        padding: $form-padding-margin;
        border-radius: 5px;
        height: 20px;
        font-weight: bold;
        align-items: center;
    }
    }
