.main-container {
    width: 100%;
    align-items: center;
    padding: 25px;
    background-color: rgb(192, 191, 186);
}

.main-container img{
    width: 180px;
    height: 180px;
    margin: 10px;
}
.image-container{
    max-width: 50%;
    margin: 0 auto;
}

