$color: linear-gradient(beige,grey);
$color-header: linear-gradient(rgb(0,45,105), rgb(1, 99, 99));
$header-padding: 5px;
$main-background-color: rgb(192, 191, 186);
$main-padding: 25px;
$footer-p: white;
$form-padding-margin: 5px;